<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="books">
          <span class="fa fa-file-text-o main-list-item-icon"></span>
          Working papers
        </h2>
        <br>
        <ol reversed class="lead text-left">
          <li><a class=books href="https://github.com/antobandiera" target="_blank">Bandiera, Antonella</a>, Carlos Schmidt-Padilla, and <a class=exps href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>. <q>The Returned: Repatriations, Elections, and Policy Polarization in El Salvador.</q></li>

          <li><a class=books href="http://polisci.berkeley.edu/people/person/anna-callis" target="_blank">Callis, Anna</a> and Carlos Schmidt-Padilla. <q>When the Right Taxes More: Partisanship, Alignment, and Local Tax Collection in Mexico.</q></li>

          <li><a class=books href="http://soerenhenn.com/" target="_blank">Henn, Soeren</a>, <a class=exps href="https://sites.google.com/site/hlarreguy/" target="_blank">Larreguy, Horacio</a>, and Carlos Schmidt-Padilla. <q>Missionary Competition, Education, and Long-run Political Development: Evidence from Africa.</q></li>

          <li><a class=books href="https://www.n-melnikov.com/" target="_blank">Melnikov, Nikita</a>, Carlos Schmidt-Padilla, and <a class=exps href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>. <q>Gangs, State Capacity, and Development: The Value of Law and Order.</q></li>

          <li><a class=books href="https://www.matthewpecenco.com/" target="_blank">Pecenco, Matthew</a>, Carlos Schmidt-Padilla, and <a class=exps href="https://do.linkedin.com/in/hamilton-taveras-640a7488" target="_blank">Hamilton Taveras</a>. <q>Opportunities and Entrepreneurship: Evidence on Advanced Labor Market Experience.</q></li>

        </ol>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
