<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="books">
          <span class="fa fa-file-text-o main-list-item-icon"></span>
          Working papers
        </h2>
        <br>
        <ol reversed class="lead text-left">
          <li><a class="books" href="https://www.dropbox.com/s/ctjkcbehmpwkh29/Larreguy_WGAPE_Submission.pdf?dl=0" target="_blank"><b>Missionary Competition, Education, and Long-run Political Development: Evidence from Africa</b></a>
            <ul>
              <li> join with <a class=books href="http://soerenhenn.com/" target="_blank">Henn, Soeren</a>, <a class=books href="https://sites.google.com/site/hlarreguy/" target="_blank">Larreguy, Horacio</a>
            </ul>
          </li>
        </ol>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
