<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1>Carlos Schmidt-Padilla</h1>
        <hr>
        <p class="lead text-left">
          I am a doctoral student in <a href="http://polisci.berkeley.edu/" target="_blank"><b>Political Science</b></a> at the <a href="http://www.berkeley.edu/" target="_blank"><b>University of California at Berkeley</b></a> and a Research Associate at the <a href="http://cpd.berkeley.edu/" target="_blank"><b>Center on the Politics of Development</b></a>.
        </p>
        <p class="lead text-left">
          Broadly, my research interests encompass the political economy of development of Latin America and of sub-Saharan Africa. In particular, I study questions concerning crime, human capital, immigration, and policing under weak institutional settings.
        </p>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
