<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="teaching">
          <span class="fa fa-university fa-lg main-list-item-icon"></span>
          Teaching
        </h2>
        <br>
        <p class="lead text-left">
          As instructor of record:
        </p>
        <ul class="lead text-left">
          <li class="sep2"><a class="teaching" target="_blank"><b>Introducción a la Econometría</b></a></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://www.esen.edu.sv/" target="_blank">Escuela Superior de Economía y Negocios,</a> El Salvador
            <li class="sep3"><b>Evaluations:</b><a class="teaching" href="https://www.dropbox.com/s/qwbkomkqyisrz3j/schmidtpadilla_carlos_esen_econometrics_fall2019.pdf?dl=0" target="_blank">Fall 2019</a>
          </ul>
        </ul>
        <p class="lead text-left">
          As teaching assistant:
        </p>
        <ul class="lead text-left">
          <li class="sep2"><a class="teaching" target="_blank"><b>American Politics</b></a></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://polisci.berkeley.edu/" target="_blank">Department of Political Science,</a> University of California at Berkeley
          </ul>
          <li class="sep2"><a class="teaching" target="_blank"><b>Politics of the Middle East</b></a></li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
