<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="teaching">
          <span class="fa fa-university fa-lg main-list-item-icon"></span>
          Teaching
        </h2>
        <br>
        <p class="lead text-left">
          As instructor of record:
        </p>
        <ul class="lead text-left">
          <li class="sep2"><b>Introducción a la Econometría</b></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://www.esen.edu.sv/" target="_blank">Escuela Superior de Economía y Negocios,</a> El Salvador
            <li class="sep3"><i>Evaluations: </i><a class="teaching" href="https://www.dropbox.com/s/qwbkomkqyisrz3j/schmidtpadilla_carlos_esen_econometrics_fall2019.pdf?raw=1" target="_blank">Fall 2019</a>
          </ul>
        </ul>
        <p class="lead text-left">
          As teaching assistant:
        </p>
        <ul class="lead text-left">
          <li class="sep2"><b>Authoritarian Politics</b></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://polisci.berkeley.edu/" target="_blank">Travers Department of Political Science,</a> University of California at Berkeley
            <li class="sep3"><i>Evaluations: </i><a class="teaching" href="https://www.dropbox.com/s/5ykyo8oooqk8jvb/schmidtpadilla_carlos_ucb_polsci149w_summer2020a.pdf?raw=1" target="_blank">Summer 2020a,</a> and <a class="teaching" href="https://www.dropbox.com/s/qrjnfhgoha5wg69/schmidtpadilla_carlos_ucb_polsci149w_summer2020b.pdf?raw=1" target="_blank">Summer 2020b</a>
          </ul>
          <li class="sep2"><b>Environmental Health and Development</b></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://ourenvironment.berkeley.edu/" target="_blank">Department of Environmental Science, Policy, and Management,</a> University of California at Berkeley
            <li class="sep3"><i>Evaluations: </i><a class="teaching" href="https://www.dropbox.com/s/q0mv2742bq4aiwu/schmidtpadilla_carlos_ucb_espmc167_summer2020.pdf?raw=1" target="_blank">Summer 2020</a>
          </ul>
          <li class="sep2"><b>American Politics</b></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://polisci.berkeley.edu/" target="_blank">Travers Department of Political Science,</a> University of California at Berkeley
            <li class="sep3"><i>Evaluations: </i><a class="teaching" href="https://www.dropbox.com/s/376t5ez46779h0m/schmidtpadilla_carlos_ucb_polsci1_fall2016a.pdf?raw=1" target="_blank">Fall 2016a,</a> <a class="teaching" href="https://www.dropbox.com/s/vwpxq67d5ih66p1/schmidtpadilla_carlos_ucb_polsci1_fall2016b.pdf?raw=1" target="_blank">Fall 2016b,</a> <a class="teaching" href="https://www.dropbox.com/s/tfhpsf8ufmo50nn/schmidtpadilla_carlos_ucb_polsci1_fall2017a.pdf?raw=1" target="_blank">Fall 2017a,</a> and <a class="teaching" href="https://www.dropbox.com/s/hruhx6gskrdeouj/schmidtpadilla_carlos_ucb_polsci1_fall2017b.pdf?raw=1" target="_blank">Fall 2017b</a>
          </ul>
          <li class="sep2"><b>Politics of the Middle East</b></li>
          <ul class="lead text-left">
            <li class="sep3"> <a class="teaching" href="https://polisci.berkeley.edu/" target="_blank">Travers Department of Political Science,</a> University of California at Berkeley
            <li class="sep3"><i>Evaluations: </i><a class="teaching" href="https://www.dropbox.com/s/rltws59ze1h8o20/schmidtpadilla_carlos_ucb_polsci146_summer2016.pdf?raw=1" target="_blank">Summer 2016</a>
          </ul>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
