<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="teaching">
          <span class="fa fa-university fa-lg main-list-item-icon"></span>
          Teaching
        </h2>
        <br>
        <p class="lead text-left">
          As instructor of record:
        </p>
        <ul class="lead text-left">
          <li class="sep2"><a class="teaching" target="_blank"><b>Introducción a la Econometría</b></a></li>
        </ul>
        <p class="lead text-left">
          As teaching assistant:
        </p>
        <ul class="lead text-left">
          <li class="sep2"><a class="teaching" target="_blank"><b>American Politics</b></a></li>
          <li class="sep2"><a class="teaching" target="_blank"><b>Politics of the Middle East</b></a></li>
        </ul>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
