<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="working">
          <span class="fa fa-file-text-o main-list-item-icon"></span>
          Working Papers
        </h2>
        <br>
        <ol reversed class="lead text-left">
          <li><a class="working" href="https://www.nber.org/papers/w27832" target="_blank"><b>Gangs, Labor Mobility, and Development</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="https://www.n-melnikov.com/" target="_blank">Nikita Melnikov</a> and <a class=working href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>
            </ul>
          </li>
          <li><a class="working" href="https://www.nber.org/papers/w28299" target="_blank"><b>Market Structure and Extortion: Evidence from 50,000 Extortion Payments</b></a>
            <ul>
              <li> <i>joint with</i> <a class=exps href="http://www-personal.umich.edu/~zachb/" target="_blank">Zach Y. Brown</a>, <a class=exps href="https://www.eduardo-montero.com/" target="_blank">Eduardo Montero</a>, and <a class=exps href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>
            </ul>
          </li>
          <li><a class="working" href="https://www.dropbox.com/s/9bv6odlrcu2nav6/missionaries_henn_et_al.pdf?raw=1" target="_blank"><b>Missionary Competition, Education, and Long-run Political Development: Evidence from Africa</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="http://soerenhenn.com/" target="_blank">Soeren Henn</a> and <a class=working href="https://sites.google.com/site/hlarreguy/" target="_blank">Horacio Larreguy</a>
            </ul>
          </li>
          <li><a class="working" href="https://www.dropbox.com/s/dyw8o0zd8dbrbmu/entrepreneurship_pecenco_et_al.pdf?raw=1" target="_blank"><b>Opportunities and Entrepreneurship: Evidence on Advanced Labor Market Experience</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="https://www.matthewpecenco.com/" target="_blank">Matthew Pecenco</a> and <a class=working href="https://do.linkedin.com/in/hamilton-taveras-640a7488/" target="_blank">Hamilton Taveras</a>
            </ul>
          </li>
          <li><a class="working" target="https://www.dropbox.com/s/nmfppfqsqcamyw9/deportations_firms_bandiera_et_al.pdf?raw=1" target="_blank"><b>The Unintended Consequences of Deportations: Evidence from Firm Behavior in El Salvador</b></a>
            <ul>
          <li> <i>joint with</i> <a class=exps href="https://www.antonellabandiera.com/" target="_blank">Antonella Bandiera</a>, <a class=exps href="https://www.lelysdinarte.com/" target="_blank">Lelys Dinarte</a>, <a class=exps href="https://www.sandravrozo.com/" target="_blank">Sandra Rozo</a>, <a class=exps href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>, and <a class=exps href="http://www.hernanwinkler.com/" target="_blank">Hernán Winkler</a>
            </ul>
          </li>
          <li><a class="working" href="https://www.dropbox.com/s/bo0jx1oyb9a49si/roads_crime_baires_et_al.pdf?raw=1" target="_blank"><b>Unintended Effects of Public Infrastructure: Labor, Education, and Crime Outcomes in El Salvador</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="https://www.wilberbaires.com/" target="_blank">Wilber Baires</a> and <a class=working href="https://www.lelysdinarte.com/" target="_blank">Lelys Dinarte</a>
            </ul>
          </li>
        </ol>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
