<!-- <section id="about" class="about"> -->
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h2 id="working">
          <span class="fa fa-file-text-o main-list-item-icon"></span>
          Working papers
        </h2>
        <br>
        <ol reversed class="lead text-left">
          <li><a class="working" href="https://www.dropbox.com/s/by83h0d62oe00hg/entrepreneurship_pecencoschmidtpadillataveras.pdf?raw=1" target="_blank"><b>Opportunities and Entrepreneurship: Evidence on Advanced Labor Market Experience</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="https://www.matthewpecenco.com/" target="_blank">Matthew Pecenco</a> and <a class=working href="https://do.linkedin.com/in/hamilton-taveras-640a7488/" target="_blank">Hamilton Taveras</a>
              <li> <button type="button" class="collapsible">Open Collapsible</button>
                <div class="content">
                  <p>Lorem ipsum...</p>
                </div>
            </ul>
          </li>
          <li><a class="working" href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3477097" target="_blank"><b>Gangs, Labor Mobility, and Development</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="https://www.n-melnikov.com/" target="_blank">Nikita Melnikov</a> and <a class=working href="http://www.micaelasviatschi.com/" target="_blank">María Micaela Sviatschi</a>
            </ul>
          </li>
          <li><a class="working" href="https://www.dropbox.com/s/ctjkcbehmpwkh29/Larreguy_WGAPE_Submission.pdf?dl=0" target="_blank"><b>Missionary Competition, Education, and Long-run Political Development: Evidence from Africa</b></a>
            <ul>
              <li> <i>joint with</i> <a class=working href="http://soerenhenn.com/" target="_blank">Soeren Henn</a> and <a class=working href="https://sites.google.com/site/hlarreguy/" target="_blank">Horacio Larreguy</a>
            </ul>
          </li>
        </ol>
        <hr>
      </div>
      <div class="col-md-2"></div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
<!-- </section> -->
